<%=form_for @payment_history, url: payment_history_path(
  id: params[:id]), method: :put do |f| %>
  <div class='control-group'>
    <%= f.label :is_paid, class: 'control-label' %>
    <div class='controls'>
      <%= f.select :is_paid, options_of_pay,{}, { class: 'form-control'} %>
    </div>
  </div><br/>
  <%= f.submit nil, class: 'btn btn-primary ' %></br>
<% end %>