<div class="clearfix">
<div class="pull-left">
<%= search_form_for @search do |f| %>
  <div class='control-group'>
    <div class='controls' id='delivery_date'>
      <%#= f.label :date, class: 'control-label' %>
      <%= f.text_field :date_date_equals, class: 'form-control date-field', placeholder: "Select Date" %>
    </div>
    <div class='controls'>
      <%= f.submit "Get Delivery list", class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
</div>
<div class="pull-right">
  <%= link_to "Download Excel", excel_deliveries_path(params.merge(format: "xls")), class: 'btn btn-primary' if @deliveries.size > 0 %>
</div>
</div>