<div class="desktopLeft">
  <a href="/home?city_id=<%= params[:city_id]%>" class="circleLogo"></a>
</div>
<div class="desktopRight">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/home?city_id=<%= params[:city_id]%>" class="back"></a>
        <div class="title">Policies</div>
      </div>
      <div class="btn-group pull-right navBtn">
        <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <ul class="dropdown-menu">
          <li><a href="/complaint?city_id=<%= params[:city_id]%>">Add a Complaint</a></li>
          <!--<li><a href="/policies">Policies</a></li>
          <li><a href="/contact">Contact Us</a></li>-->
        </ul>
      </div>
    </div>
  </nav>
  <div class="container contentWrap">
    <div class="row">
      <div class="col-xs-12 privacy">
              <div class="heading">Privacy Policy</div>

              <p>For us privacy for our valued customer is very important. We strongly believe that the      personal information of our customers should not be shared with the third party without the prior consent or request from the customer. Privacy is the right of an individual and at FROOLS the information of the        customer such as contact no., email,             addresses etc. is used only for the internal purpose and not for sale. Your contact          information is stored in our database and is only used to contact you during the course of your stay with us for sharing the status of your room bookings with us and then after for announcement of our latest deals and news etc. We at FROOLS condemn the unauthorized reach and misuse and/or discloser of the personal information of the customer and we have strict guidelines and high security features to prevent the same. Any changes in our ‘Privacy Policy’ will be posted here on     the website.</p>

              <div class="heading">Secure Online Payments</div>


              <p>The visitor on our Website/App please take a note that your name, email address and other personal information submitted on our website may be stored with us and may also appear on the website. Like other platforms our server log files also receives general  information such as IP address of the visitor, cookie etc. For the financial transactions by credit card FROOLS uses a 3rd party secure payment gateway provided by “PayU” and the credit card details are ‘not stored’ with  FROOLS, instead the information is securely stored and encrypted with Visa/MasterCard.</p>

              <div class="heading">Smart Cookies</div>


              <p>We use 'Cookies' to keep track of your current shopping session to personalize your           experience and so that you may retrieve your shopping cart at any time. 'Cookies' are tiny text files which our Website places on your computer's hard drive to store information about your shopping session and to identify your computer.</p>

              <div class="heading">Refund and Cancellation Policy</div>

              <p>After subscribing to FROOLS, one can cancel the subscription 1 day prior to start date if he/she wishes to.  And in case of customer request for Refund, it will be processed through NEFT within 10 working days. </p>

              <div class="heading">Delivery Policy</div>

              <p>Frools Subscription daily delivery will start from the date selected by the customer.</p>
    </div>
  </div>
</div>
</div>
