<div class="desktopLeft">
  <a href="/home?city_id=<%= params[:city_id]%>" class="circleLogo"></a>
</div>
<div class="desktopRight">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/home?city_id=<%= params[:city_id]%>" class="back"></a>
        <div class="title">Currently Serving in</div>
      </div>
      <!-- <div class="btn-group pull-right navBtn">
        <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <ul class="dropdown-menu">
          <li><a href="/complaint">Add a Complaint</a></li>
        </ul>
      </div> -->
    </div>
  </nav>
  <div class="container contentWrap">
    <div class="row">
      <div class="col-xs-12">
          <div class="complaintS">
            <!-- <div class="heading">Currently Serving in</div> -->
            <p>
            <% @areas.each do |area| %>
              <%= area.name %><br>
            <% end %>
            <!-- Western Mumbai <br>
            Dahisar <br>
            Dahisar East <br>
            Dahisar West <br>
            Borivali <br>
            Borivali East <br>
            Borivali West <br>
            Gorai <br>
            Kandivali <br>
            Kandivali East <br>
            Kandivali West <br>
            Charkop <br>
            Malad <br>
            Malad East <br>
            Malad West <br>
            Goregaon <br>
            Goregaon East <br>
            Goregaon West <br>
            Aarey Colony <br>
            Jogeshwari <br>
            Jogeshwari East <br>
            Jogeshwari West <br>
            JVLR <br>
            Powai <br>
            Andheri <br>
            Andheri East <br>
            Andheri West -->
            </p>
          </div>
    </div>
  </div>
</div>