<div class="desktopLeft home">
  <a href="/home?city_id=<%= params[:city_id]%>" class="circleLogo"></a>
</div>
<div class="desktopRight">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/home?city_id=<%= params[:city_id]%>" class="back"></a>
        <div class="title">Terms &amp; Conditions</div>
      </div>
      <div class="btn-group pull-right navBtn">
        <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <ul class="dropdown-menu">
          <li><a href="/complaint?city_id=<%= params[:city_id]%>">Add a Complaint</a></li>
          <!--<li><a href="/terms">Terms &amp; Conditions</a></li>
          <li><a href="/contact">Contact Us</a></li>-->
        </ul>
      </div>
    </div>
  </nav>
  <div class="container contentWrap">
    <div class="row">
      <div class="col-xs-12 ">

     		<p>Frools is owned and operated by Frools Retail Services Private Limited, a

          incorporated under the laws of India. Your use of the Website/App and services and tools

          are governed by the following terms and conditions ("Terms of Use") as applicable to the

          Website including the applicable policies which are incorporated herein by way of reference.

          If you transact on the App/Website, You shall be subject to the policies that are applicable to

          the Website for such transaction. By mere use of the Website, You shall be contracting with

          Frools Retail Services Private Limited and these terms and conditions including the policies

          constitute your binding obligations, with Frools Retail Services Private Limited. For the

          purpose of these Terms of Use, wherever the context so requires "You" or "User" shall mean

          any natural or legal person who has agreed to become a buyer on the App/Website by

          providing Registration Data while registering on the Website as Registered User using the

          computer systems. Frools allows the User to surf the App/Website. The term "We", "Us",

          "Our" shall mean Frools Retail Services Private Limited. <p>

          <p>When You use any of the services provided by Us through the App/Website, including but

          not limited to, You will be subject to the rules, guidelines, policies, terms, and conditions

          applicable to such service, and they shall be deemed to be incorporated into this Terms of

          Use and shall be considered as part and parcel of this Terms of Use. We reserve the right,

          at our sole discretion, to change, modify, add or remove portions of these Terms of Use, at

          any time without any prior written notice to you. It is your responsibility to review these

          Terms of Use periodically for updates / changes. Your continued use of the App/Website

          following the posting of changes will mean that you accept and agree to the revisions. As

          long as you comply with these Terms of Use, We grant you a personal, non-exclusive, non-

          transferable, limited privilege to enter and use the Website.</p>

          <p>ACCESSING, BROWSING OR OTHERWISE USING THE APP INDICATES YOUR

        AGREEMENT TO ALL THE TERMS AND CONDITIONS UNDER THESE TERMS OF USE,

        SO PLEASE READ THE TERMS OF USE CAREFULLY BEFORE PROCEEDING.</p>
      </div>
    </div>
  </div>
</div>
