<!-- Modal -->
<div class="modal fade" id="subs_modal_id" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="subscription_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="subscription_label">Subscription</h4>
      </div>
      <div class="modal-body subscription-body">
        ...
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>