<%- model_class = FaqQuestion -%>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%=t '.title', default: [:'helpers.titles.new', 'New %{model}'], model: model_class.model_name.human.titleize %>
        </h4>
      </div>
      <div class="panel-body">
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>